div {
	border-radius: 5px;
}

html {
	font-family: <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
}
#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #ab3055;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 24px;
	font-family: <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 24px;
	font-family: <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #ceb5d6;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	background-color: #fddada;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #ab3055;
	clear: both;
	font-family: <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">, sans-serif;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
	font-family: <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">, sans-serif;
}
